@font-face {
  font-family: Kanit-SemiBold;
  src: url(../fonts/Kanit-SemiBold.ttf);
}

@font-face {
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
}

body {
  background-color: #111111;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  background: rgba(17, 17, 17, 0.5);
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: white;
  font-family: Kanit-SemiBold;
  text-decoration: none;
  margin-top: 4.5vh;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
  display: none;
  color: white;
}

nav {
  flex: 1;
  text-align: right;
  background: color rgb(115, 211, 255);
  margin-top: 4.5vh;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Kanit-Semibold;
  margin-left: 25px;
}

nav ul li a:hover {
  border-bottom: #ffffff solid 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.home-page {
  display: flex;
}

.home-page h1 {
  position: relative;
  width: 100%;
  font-size: 60px;
  color: white;
  font-family: Kanit-SemiBold;
  text-decoration: none;
  margin-top: 10vh;
  font-weight: lighter;
  line-height: 1.2;
  text-align: left;
}

.project-list {
  background-color: #181818;
  align-items: center;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  align-items: center;
  overflow: auto;
  border-radius: 10px;
}

.project-list .project {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  padding: 2em;
  margin: 15px;
  min-width: 30vh;
  max-width: 30vh;
  min-height: 30vh;
  max-height: 30vh;
}

.project .links {
  font-size: 25px;
  margin-bottom: 1em;
}

.project .title {
  font-size: 25px;
  font-family: kanit-semibold;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.project .text {
  font-family: kanit-regular;
  width: 100%;
  height: 14vh;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 1em;
}

.project .languages {
  font-family: kanit-regular;
  font-size: 13px;
  color: #ffc63f;
}

.project-list .project:hover {
  box-shadow: 0px 5px 5px #ffc63f;
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ffc63f;
  color: #000000;
  font-size: 15px;
  font-family: Kanit-SemiBold;
}

@media only screen and (max-width: 1000px) {
  .home-page h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
  }
}
